%h1 Listing notification_reports

%table
  %tr
    %th User
    %th Facility
    %th Eom offset
    %th
    %th
    %th

  - @notification_reports.each do |notification_report|
    %tr
      %td= notification_report.user_id
      %td= notification_report.facility_id
      %td= notification_report.eom_offset
      %td= link_to 'Show', notification_report
      %td= link_to 'Edit', edit_notification_report_path(notification_report)
      %td= link_to 'Destroy', notification_report, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Notification report', new_notification_report_path
