<h1>Editing Global Category</h1>
<div class="yui-g">
  <div class="yui-u first">
    <% form_for(@pppams_category_base_ref) do |f| %>
      <%= f.error_messages %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        Date Inactive
        <br />
        <%= f.date_select :inactive_on, {:include_blank => true}%>
      </p>
      <p>
        <%= f.label :pppams_category_group_id %><br />
        <%= select :pppams_category_base_ref, :pppams_category_group_id, @pppams_category_groups, {:include_blank => true } %>
      </p>
      <p>
        <%= f.submit 'Update' %>
      </p>
    <% end %>
  </div>
  <div class="yui-u">
    <p><strong> Facilities using this Global Category </strong></p>
    <ul>
      <% @facilities_with_base.each do |facility| %>
        <li><%= facility.facility %></li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to 'Show', @pppams_category_base_ref %> |
<%= link_to 'Back', pppams_category_base_refs_path %>
