<h1>Editing Overall Indicator</h1>

<% form_for(@pppams_indicator_base_ref) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>
  <p>
    Overall Category<br />
    <%= select :pppams_indicator_base_ref, :pppams_category_base_ref_id, PppamsCategoryBaseRef.all.collect {|a| [a.name, a.id]}, :include_blank => true %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pppams_indicator_base_ref %> |
<%= link_to 'Back', pppams_indicator_base_refs_path %>
