<h1>
  Editing Global Indicator
</h1>
<% form_for(@pppams_indicator_base_ref) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>
  <p>
    Category<br />
    <%= select :pppams_indicator_base_ref, :pppams_category_base_ref_id, PppamsCategoryBaseRef.all.collect {|a| [a.name, a.id]}, :include_blank => true %>
  </p>
  <p>
    <span style="display:block; float:right"><a class="fill_down">Fill down</a></span>
    <strong>Facilities Using this Global Indicator</strong>
  </p>
  <table class="fill_downable">
    <thead>
      <tr>
        <th>Facility</th>
        <th>Status</th>
        <th>Becomes active on</th>
        <th>Frequency</th>
        <th>Start Month</th>
        <th>Becomes inactive on</th>
      </tr>
      </thead>
      <tbody>
        <% count = 0; @facilities.each do |facility_id, facility| %>
          <% facility[:count] = count %>
          <tr>
            <td><%= indicator_link(facility, :editable => true)%>
                <%= hidden_field_tag "pppams_indicator_base_ref[pppams_indicators_attributes][#{count}][facility_id]", facility_id %>
                <%= hidden_field_tag "pppams_indicator_base_ref[pppams_indicators_attributes][#{count}][id]", facility[:indicator_id] %>
            </td>
            <td><%= active?(facility)%></td>
            <td><%= active_on(facility, :editable => true) %></td>
            <td><%= frequency(facility, :editable => true) %></td>
            <td><%= start_month(facility, :editable => true) %></td>
            <td><%= inactive_on(facility, :editable => true) %></td>
           </tr>
         <% count += 1; end %>
      </tbody>
    </table>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
<p>
  <%= link_to 'Show', @pppams_indicator_base_ref %> |
  <%= link_to "Back to Global Category", edit_pppams_category_base_ref_path(@pppams_indicator_base_ref.pppams_category_base_ref_id)%>
</p>
