<h1>New pppams_indicator_base_ref</h1>

<% form_for(@pppams_indicator_base_ref) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :pppams_category_base_ref_id %><br />
    <%= f.text_field :pppams_category_base_ref_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pppams_indicator_base_refs_path %>