<h1>Showing Global Indicator </h1>
<p>
  <b>Question:</b>
</p>
<p>
  <%=h @pppams_indicator_base_ref.question %>
</p>
<p>
  <b>Inactive as of:</b>
</p>
<p>
  <%= @pppams_indicator_base_ref.inactive_on ? @pppams_indicator_base_ref.inactive_on : "Still active" %>
</p>


<p>
  <b>Global Category:</b>
</p>
<p>
  <%=h @pppams_indicator_base_ref.pppams_category_base_ref %>
</p>


<%= link_to 'Edit', edit_pppams_indicator_base_ref_path(@pppams_indicator_base_ref) %> |
<%= link_to 'Back', pppams_indicator_base_refs_path %>
