.page-header
  %h1 
    Listing Contexts
    .pull-right
      = link_to 'Add', new_context_path, :class => 'btn'

%table#contexts.table.table-striped.table-bordered.dataTable
  %tr
    %th Title
    %th Shortname
    %th Description
    %th Position
    %th

  - @contexts.each do |context|
    %tr
      %td= link_to context.title, context
      %td= context.shortname
      %td= context.description
      %td= context.position
      %td
        = link_to 'Edit', edit_context_path(context)
        = link_to 'Destroy', context, :confirm => 'Are you sure?', :method => :delete

